# ============================================================
#  TELEGRAM BOT — .env sozlamalari
# ============================================================

BOT_TOKEN=8670307100:AAGPL-LE3nJ_JB8ZvIJsJ-GMLq202lcMIZs
BOT_USERNAME=https://t.me/ShohruxbeK_uchun_bot
ADMIN_IDS=8302385031
WEBAPP_URL=https://online.uzraisin.uz/
ADMIN_PASSWORD=admin123
DATABASE_URL=sqlite+aiosqlite:///./data/bot.db
# PostgreSQL uchun:
# DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/botdb
LOG_LEVEL=INFO
`